<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render "/refinery/head" %>
    <%= render "/refinery/javascripts" %>
  </head>
  <body id="<%= canonical_id @page %>" class="<%= view_template_class @page %>">
    <%= site_bar -%>
    <div id="page_container">

      <header id="header">
        <%= render "/refinery/header" -%>
      </header>
      <section id="page">
        <div class="container">
        <%= yield %>
        </div>
      </section>
      <footer>
      	<div class="container">
        	<%= render "/refinery/footer" -%>
        </div>
      </footer>
    </div>
  </body>
</html>
